<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
  <div>
    <a href="#">
    <img src="assets/hapinistay-logo.png" width="200px" alt="avatar image">
    </a>
    <h1 fxLayoutAlign="center"><a class="app-name link-no-underline"  href="#"><span translate>APP_NAME</span></a></h1>
    <!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
      <h4 class="version">v{{version}}</h4>
    </div> -->
  </div>
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <div class="login-error" [hidden]="!error || isLoading" translate>
          Username or password incorrect.
        </div>
        <br/>
        <div fxLayout="column">
          <mat-form-field>
            <input type="text" matInput formControlName="username"
                   [placeholder]="'Username' | translate"/>
            <mat-error *ngIf="!loginForm.controls.username.valid">
              <span translate>Username is required</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput formControlName="password"
                   [placeholder]="'Password' | translate" required/>
            <mat-error *ngIf="!loginForm.controls.password.valid">
              <span translate>Password is required</span>
            </mat-error>
          </mat-form-field>
          <mat-slide-toggle color="primary" formControlName="remember"><span translate>Remember me</span></mat-slide-toggle>
          <button mat-raised-button color="primary" type="submit">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>Login</span>
          </button>
          <br/>
          <button mat-raised-button (click)="registerAccount()"> <span translate>login.register</span></button>
          <br/>
          <a mat-button (click)="forgetPassword()"><span translate>login.forgetPass</span></a>
        </div>
      </form>
    </mat-card>
  </div>
</div>

