<div class="container">
  <div *ngIf="room">
    <mat-card>
      <mat-card-header>
        <mat-card-title><span translate>newroom.title</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="newRoomForm" (ngSubmit)="onSubmit()">
        <div fxLayout='column'>
          <mat-form-field appearance="outline">
            <mat-label><span translate>newroom.name</span></mat-label>
            <input matInput [placeholder]="'newroom.namePlaceholder' | translate" formControlName="name">
            <mat-error *ngIf="!newRoomForm.controls.name.valid">
              <span translate>newroom.nameRequired</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label><span translate>newroom.description</span></mat-label>
            <textarea matTextareaAutosize matInput [placeholder]="'newroom.descriptionPlaceholder' | translate" formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label><span translate>newroom.area</span></mat-label>
            <input matInput [placeholder]="'newroom.areaPlaceholder' | translate" formControlName="area">
            <mat-error *ngIf="!newRoomForm.controls.area.valid">
              <span translate>newroom.areaRequired</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label><span translate>newroom.maxNumber</span></mat-label>
            <input matInput [placeholder]="'newroom.maxNumberPlaceholder' | translate" formControlName="maxNumber">
            <mat-error *ngIf="!newRoomForm.controls.maxNumber.valid">
              <span translate>newroom.maxNumberRequired</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label><span translate>newroom.toilet</span></mat-label>
            <mat-select [placeholder]="'newroom.toiletPlaceholder' | translate" formControlName="toilet">
              <mat-option value="S"><span translate>newroom.toiletShare</span></mat-option>
              <mat-option value="P"><span translate>newroom.toiletPrivate</span></mat-option>
            </mat-select>
            <mat-error *ngIf="!newRoomForm.controls.toilet.valid">
              <span translate>newroom.toiletRequired</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label><span translate>newroom.sex</span></mat-label>
            <mat-select [placeholder]="'newroom.sexPlaceholder' | translate" formControlName="sex">
              <mat-option value="M"><span translate>newroom.sexMale</span></mat-option>
              <mat-option value="F"><span translate>newroom.sexFemale</span></mat-option>
              <mat-option value="B"><span translate>newroom.sexBoth</span></mat-option>
            </mat-select>
            <mat-error *ngIf="!newRoomForm.controls.toilet.valid">
              <span translate>newroom.sexRequired</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label><span translate>newroom.price</span></mat-label>
            <input matInput [placeholder]="'newroom.pricePlaceholder' | translate" formControlName="price">
            <mat-error *ngIf="!newRoomForm.controls.price.valid">
              <span translate>newroom.priceRequired</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label><span translate>newroom.note</span></mat-label>
            <textarea matTextareaAutosize matInput [placeholder]="'newroom.notePlaceholder' | translate" formControlName="note"></textarea>
          </mat-form-field>

          <image-upload [id]="room.id" type="ROOM" (onImageUploadEvent)="onImageUpload($event)"
            (onAllImageUploadedEvent)="onAllImageUploaded($event)"></image-upload>

          <image-list *ngIf="room.images" [images]="room.images"></image-list>

          <mat-card-actions class="action-center" appearance="outline">
            <button mat-raised-button color="primary" [disabled]="!newRoomForm.valid"><span translate>common.save</span></button>
          </mat-card-actions>
        </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>